@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --radius: 0.625rem;
    --background: rgb(249, 244, 240);
    --foreground: rgb(48, 48, 48);
    --card: rgb(249, 244, 240);
    --card-foreground: rgb(0, 0, 0);
    --popover: rgb(249, 244, 240);
    --popover-foreground: rgb(0, 0, 0);
    --primary: rgb(23, 25, 126);
    --primary-foreground: rgb(255, 229, 201);
    --secondary: rgb(232, 130, 109);
    --secondary-foreground: rgb(255, 229, 201);
    --muted: rgb(245, 245, 245);
    --muted-foreground: rgb(115, 115, 115);
    --accent: rgb(245, 245, 245);
    --accent-foreground: rgb(10, 10, 10);
    --destructive: rgb(255, 38, 38);
    --border: rgb(229, 229, 229);
    --input: rgb(229, 229, 229);
    --ring: rgb(161, 161, 161);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: rgb(249, 244, 240);
    --sidebar-foreground: rgb(0, 0, 0);
    --sidebar-primary: rgb(10, 10, 10);
    --sidebar-primary-foreground: rgb(249, 244, 240);
    --sidebar-accent: rgb(245, 245, 245);
    --sidebar-accent-foreground: rgb(10, 10, 10);
    --sidebar-border: rgb(229, 229, 229);
    --sidebar-ring: rgb(161, 161, 161);
}

.dark {
    --background: rgb(0, 0, 0);
    --foreground: rgb(249, 244, 240);
    --card: rgb(15, 15, 15);
    --card-foreground: rgb(249, 244, 240);
    --popover: rgb(30, 30, 30);
    --popover-foreground: rgb(249, 244, 240);
    --primary: rgb(255, 73, 38);
    --primary-foreground: rgb(255, 229, 201);
    --secondary: rgb(232, 130, 109);
    --secondary-foreground: rgb(255, 229, 201);
    --muted: rgb(38, 38, 38);
    --muted-foreground: rgb(161, 161, 161);
    --accent: rgb(40, 40, 38);
    --accent-foreground: rgb(249, 244, 240);
    --destructive: rgb(255, 38, 38);
    --border: rgba(255, 255, 255, 0.1);
    --input: rgba(255, 255, 255, 0.05);
    --ring: rgb(115, 115, 115);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: rgb(10, 10, 10);
    --sidebar-foreground: rgb(249, 244, 240);
    --sidebar-primary: rgb(20, 71, 230);
    --sidebar-primary-foreground: rgb(249, 244, 240);
    --sidebar-accent: rgb(38, 38, 38);
    --sidebar-accent-foreground: rgb(249, 244, 240);
    --sidebar-border: rgba(255, 255, 255, 0.1);
    --sidebar-ring: rgb(115, 115, 115);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }

    * {
        font-family: 'Roboto', sans-serif;
    }

    h1 {
        @apply text-foreground text-3xl font-bold;
        line-height: 120%;
    }

    h2 {
        @apply text-foreground text-2xl font-semibold;
        line-height: 120%;
    }

    h3 {
        @apply text-foreground text-xl font-semibold;
        line-height: 120%;
    }

    h4 {
        @apply text-foreground text-xl font-semibold;
        line-height: 120%;
    }

    h5 {
        @apply text-foreground text-lg font-medium;
        line-height: 120%;
    }

    h6 {
        @apply text-foreground text-lg;
        line-height: 120%;
    }

    p,
    span,
    a {
        @apply text-foreground text-sm;
        line-height: 120%;
    }

    ::-webkit-scrollbar {
        width: 2px;
        /* Largura do scrollbar */
        height: 2px;
        /* Altura do scrollbar horizontal (opcional) */
        transition: 0.3s;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
        /* Fundo do track */
        transition: 0.3s;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--primary);
        /* Cor do thumb (rolador) */
        border-radius: var(--radius);
        /* Bordas arredondadas */
        transition: 0.3s;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--primary);
        /* Cor do thumb ao passar o mouse */
        transition: 0.3s;
    }

    ::-webkit-scrollbar-corner {
        background: transparent;
        /* Cantos do scrollbar */
        transition: 0.3s;
    }
}

@utility flex-container {
    @apply box-border flex w-full flex-wrap;
}

@utility fill {
    @apply grow basis-0;
}

@utility floating-card {
    @apply bg-card flex max-w-full items-center gap-4 rounded-xl border p-4;
}